# Data Science Tools and Ecosystem

## Author
Stefan Altendorfer

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Table of Data Science Tools
- Arithmetic Expression Examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++
8. MATLAB

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas
4. Matplotlib
5. Tensorflow
6. SciKit-Learn
7. PyTorch
8. ggplot2

|Data Science Tools|
|:-----------------:|
|RStudio            |
|Apache Spark       |
|TensorFlow         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335